body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#gameArea {
    margin-top: 50px;
    position: relative;
    height: 100vh;  /* Esto asegura que el área de juego ocupe toda la pantalla */
}

.target {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px auto;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s ease;
}

.target:hover {
    background-color: blue;
    transform: scale(1.1);
}

h1 {
    color: #333;
}

p {
    font-size: 1.2em;
}

/* Estilo para la pantalla de fin de juego */
#gameOver {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 1.2em;
}

#lives {
    color: red;
    font-weight: bold;
}
