body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#gameArea {
    margin-top: 50px;
    position: relative;
    height: 100vh;  /* Esto asegura que el área de juego ocupe toda la pantalla */
}

.target {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px auto;
    cursor: pointer;
    position: absolute; /* Cambiar de 'static' a 'absolute' para moverlo */
    transition: all 0.3s ease;
}

.target:hover {
    background-color: blue;
    transform: scale(1.1); /* Hace el cuadro un poco más grande cuando se pasa el mouse */
}

h1 {
    color: #333;
}

p {
    font-size: 1.2em;
}
